parameters:
    level: 9

    reportUnmatchedIgnoredErrors: false

    paths:
        - bin
        - config
        - src
        - tests

    # PHPStan doesn't appear to find InstalledVersions by itself.
    scanFiles:
    	- vendor/composer/InstalledVersions.php